.Header {
  height: 56px;
  padding: 0 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f9fafb;
  border-bottom: 1px solid #dfe4eb;
  .box {
    .logo {
      height: 32px;
    }
    .logo-c {
      height: 32px;
      width: 32px;
    }
  }
}
