.InputAmount {
  border-radius: 4px;
  border: 1px solid #929fb0;
  background: #fff;
  padding: 13px 16px;
  .h4 {
    color: #404859;
  }
  .button-operation {
    padding: 0;
    height: 23px;
    border: 0;
    background: none;
    box-shadow: none;
    .anticon {
      color: #5e8eb7;
      &-full {
        display: none;
      }
    }
    &:hover {
      .anticon {
        color: #5e8eb7;
        display: none;
        &-full {
          display: block;
          margin-left: 0;
        }
      }
    }
  }
  .flex {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    .h4 {
      color: #929fb0;
    }
    span {
      color: #929fb0;
      font-family: Inter;
      font-size: 16px;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
    }
  }
}
