.HeaderHome {
  height: 56px;
  padding: 0 32px;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fafb;
  border-bottom: 1px solid #dfe4eb;
  position: fixed;
  z-index: 200;
  width: 100%;
  .box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    .logo {
      height: 32px;
    }
    .logo-c {
      height: 32px;
      width: 32px;
    }
  }
}
.HeaderHome-space {
  height: 56px;
  width: 100%;
}
