//sizes
$small: 440px;
$s-medium: 570px;
$medium: 761px;
$large: 960px;
$x-large: 1060px;
$xx-large: 1250px;

//colors
$grey-title: #404859;
$grey-text-op: #6e7889;
$grey-placeholder: #929fb0;
$color-primary-button: #162e43;
$white-button-txt: #f5faff;
$black-text: #2a2f3c;
$blue-button-tab: #355c7d;
$white-button-tab: #dfe4eb;
$white: #ffffff;
$black: #000000;
$red-title: #c94f4a;
$red-warning: #8f2f2c;
$grey-border: #ccd3db;
$green-tab-active-text: #587e5b;
$green-tab-active: #6eac72;
