.CardAlertError {
  border-radius: 6px;
  border: 1px solid #d7b8e5;
  background: #f7edfc;
  box-shadow: 2px 2px 20px 0px rgba(11, 19, 26, 0.1);
  padding: 18px 24px;
  .h4-w5 {
    color: #241226;
    margin-bottom: 5px;
  }
  .h4-w4 {
    color: #653b6f;
    margin-bottom: 30px;
  }
}
