.CardReview {
  border-radius: 4px;
  border: 1px solid #ac78b3;
  background: #fdfcff;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.03);
  padding: 12px 15px;
  margin-top: 24px;
  .label {
    border-radius: 100px;
    background: #e3ddf0;
    width: 81px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-right: 3px;
    }
    span {
      color: #48244d;
      font-family: Inter;
      font-size: 9.5px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.19px;
      margin-top: 1px;
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    margin-top: 4px;
    .column {
      .body-card {
        color: #8a5791;
      }
      .button-txt-big {
        color: #48244d;
      }
    }
    &-left {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 40px;
    }
    &-rigth {
      .column {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }
  .table {
    .table-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 15px;
      .column {
        width: 50%;
        .body-card {
          color: #8a5791;
          &-w5 {
            color: #48244d;
          }
        }
      }
    }
  }
}
