.Layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .content {
    width: 100%;
  }
  .BarLogin {
    padding: 16px;
    background-color: #eff3f5;
    width: 64px;
    height: 100vh;
    border-right: 1px solid #dfe4eb;
    .logo {
      width: 32px;
    }
  }
}
