.Dashboard {
  &--container {
    display: flex;
  }
  &__column {
    width: 100%;
  }
  &__label {
    padding: 12px 32px;
    padding-top: 0;
    border-bottom: 1px solid grey-border;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 32px;
    height: 153px;
    .box-title {
      .red-title {
        color: $red-title;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0.36px;
        margin-bottom: 5px;
      }
    }
    .body-regular {
      margin-bottom: 5px;
    }
    .body-small {
      margin-top: 5px;
    }
    .content-progress {
      display: flex;
      gap: 19px;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &-tabs {
      height: auto;
    }
  }
  .content-link {
    padding: 0 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .link {
      text-decoration: none;
      color: #5e8eb7;
      display: flex;
      align-items: center;
      .plus {
        margin-right: 8px;
      }
    }
  }
  .content-flex-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    padding: 24px 32px;
  }
}
